{% extends 'base.html.twig' %}

{% block title %} Animal !!! {% endblock %}

{% block body %}
<h1>Mammal Animal</h1>

<p>Number rand: <strong id="rand_number">0</strong></p>
<button id="btn_rand_number">Generate rand</button>
{# Comentário nesta linha é ignorado no HTML, somente no PHP #}
<!-- Observação: comentário no HTML -->

{% if animal == "cat" %}
<p>Cat is a cool animal </p>
{% else %}
<p>Name: {{animal}}</p>
<p>Length: {{animal|length}}</p>
{% endif %}

[1, 2, 3, 4] o último valor: <strong>{{ [1, 2, 3, 4]|last }}</strong>

<ul>
  {% for person in persons %}
  <li>{{ person.name }} | {{person.cpf}} | {{person['genro']}}</li>
  {% endfor %}
</ul>

<a href="{{path('home', {_fragment: 'title' })}}">Home #Title</a>
{% endblock %}

{% block javascripts %}
<script>
  const elTextNumber = $('#rand_number');
  const elBtnNumber = $('#btn_rand_number');

  const min = 200;
  const max = 100;

  elBtnNumber.on('click', (e) => {
    e.preventDefault();

    $.ajax({
      url: `/api/rand/${min}/${max}`,
      method: 'POST'
    }).then(
      function success(response) {
        if (response.status) {
          elTextNumber.text(response.number);
        }
      },
      function error({ responseJSON }) {
        if (!responseJSON.status) {
          alert(responseJSON.message);
        }
      }
    );
  });
</script>
{% endblock %}